body {
    margin: 0;
    background-color: #f7e4e8;
}

#canvas-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    height: 100vh;
    position: absolute; 
    top: 0;
    left: 0; 
    right: 0; 
}

canvas {
    background: radial-gradient(circle, #F2F2F2, #fbe6ea);
    border: 6px solid #fe5b79;
    box-shadow: 0 0 50px rgba(255, 192, 203, 1);
    animation: fadeIn 1s ease-out;
}

#canvas-container[role="main"] {
    outline: none;
}

#canvas-container p {
    text-align: center; 
    margin-top: 20px; 
    font-size: 50px; 
    color: #ff5171; 
}